.login-container {
  background-color: rgba(245, 245, 220, 0.834);
  border-radius: 10px;
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
  padding-bottom: 20px;
}

.login-label {
  display: flex;
  flex-direction: column;
}
.login-form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
